In [2]:
import numpy as np
import pandas as pd
import math

In [7]:
data = pd.read_excel('data.xlsx')
data.head()

     height     weight  age gender
0  1.572773  60.792841   29      W
1  1.530569  74.901995   28      W
2  1.595663  73.132507   27      W
3  1.500017  67.612650   36      W
4  1.605148  67.311912   26      W

In [8]:
test_data = pd.read_excel('knn_test_data.xlsx')
test_data

     height     weight  age
0  1.796918  71.117461   31
1  1.610874  66.948896   30
2  1.783349  88.722991   30
3  1.511755  56.693180   27

In [9]:
test_datas = test_data.to_numpy()
test_datas

array([[ 1.79691842, 71.11746115, 31.        ],
       [ 1.61087382, 66.94889565, 30.        ],
       [ 1.78334917, 88.72299146, 30.        ],
       [ 1.51175478, 56.69317959, 27.        ]])

In [31]:
def gaussian_(x, mean, std):
    return 1 / (math.sqrt(std ** math.pi)) * np.exp(-std * np.power((x - mean), 2))

In [32]:
def mean_(x, feature, data):
    m_mean = np.mean(data.loc[data['gender']=='M'][feature].values)
    m_std = np.std(data.loc[data['gender']=='M'][feature].values)
    men = gaussian_(x, m_mean, m_std)
    w_mean = np.mean(data.loc[data['gender']=='W'][feature].values)
    w_std = np.std(data.loc[data['gender']=='W'][feature].values)
    women = gaussian_(x, w_mean, w_std)
    return men, women

In [33]:
def nbc_(x, data):
    men_h, women_h = mean_(x[0], 'height', data)
    men_w, women_w = mean_(x[1], 'weight', data)
    n_men, n_women = np.count_nonzero(data['gender'] == 'M'), np.count_nonzero(data['gender'] == 'W')
    total = n_men + n_women
    men_pri, women_pri = n_men/total, n_women/total
    m_age, w_age = mean_(x[2], 'age', data)
    p_man = men_h * men_w * m_age * men_pri
    p_woman = women_h * women_w * w_age * women_pri
    if p_man > p_woman:
        return 'M'
    else:
        return 'W'

In [34]:
def main():
    for x in test_datas:
        predict_ = nbc_(x, data)
        print(f'Predictions : {predict_}')

In [35]:
main()

Predictions : W
Predictions : W
Predictions : M
Predictions : W