In [84]:
import numpy as np
import pandas as pd
import math

In [85]:
data = pd.read_excel('dataset.xlsx')
k_values = 1, 3, 5

In [86]:
data

       height     weight  age gender
0    1.867254  87.309720   32      M
1    1.827601  75.155462   25      M
2    1.677542  72.775014   33      W
3    1.943283  95.297710   28      M
4    1.950712  82.053629   29      M
..        ...        ...  ...    ...
115  2.000000  81.651678   25      W
116  1.849854  76.278465   30      W
117  1.601512  79.025100   27      W
118  1.677059  76.143849   29      W
119  1.845541  72.480025   37      W

[120 rows x 4 columns]

In [87]:
def cartesian_function(testdata, datas):
    difference = np.sum(np.power(testdata - datas, 2), axis=1)
    return np.power(difference, 0.5)

In [88]:
def classify_(k, label):
    nearest = label[:k]
    men = np.count_nonzero(nearest == 'M')
    women = np.count_nonzero(nearest == 'W')
    if men > women:
        return 'M'
    else:
        return 'W'

In [89]:
def knn_(test_sample, k, data):
    dataset = data.drop(['gender'], axis = 1).values
    labels = data['gender'].values
    dist_ = cartesian_function(test_sample, dataset)
    labeled_dist = np.vstack((dist_, labels))
    sort_dist = labeled_dist.T[labeled_dist.T[:, 0].argsort()]
    sort_labels = sort_dist.T[1]
    return classify_(k,sort_labels)

In [90]:
def main():
    for k in k_values:
        predictions = 0
        for i, test_sample in data.iterrows():
            sample = test_sample.values[:3]
            end_ = test_sample.values[3]
            predict = knn_(sample, k, data.drop(i))
            if predict == end_:
                predictions += 1
        print(f"KNN Performance using k:{k}")
        print(f"{predictions}/{data.shape[0]} correct predictions using all features")
        print()

In [91]:
main()

KNN Performance using k:1
76/120 correct predictions using all features

KNN Performance using k:3
75/120 correct predictions using all features

KNN Performance using k:5
74/120 correct predictions using all features

In [92]:
print('K = 1 gives best prediction')

K = 1 gives best prediction